@import '~@fortawesome/fontawesome-free/css/all.min.css';

.dashboard-container {
  display: flex;
}

.dashboard-content {
  flex: 1;
  padding: 40px;
}

/* Personaliza los estilos según tus preferencias */
