.productos-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.productos-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.productos-filtros {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filtro-btn {
  border: none;
  background-color: transparent;
  color: #888;
  margin-right: 10px;
  padding: 5px 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.filtro-btn.active {
  color: #333;
}

.productos-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.producto-item {
  width: 30%;
  margin-bottom: 20px;
  cursor: pointer;
}

.producto-img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.producto-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.producto-price {
  font-size: 14px;
  color: #888;
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-btn {
  border: none;
  background-color: transparent;
  color: #888;
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.pagination-btn.active {
  color: #333;
}

.pagination-btn:hover {
  /* Estilos de hover para los botones de paginación */
}
